.tap_menu{
    padding: 0px 200px;
}
.tap_menu ul{
    display: flex;
}
.tap_menu ul li{
    flex: 1;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    color: #000;
    font-size: 18px;
}
.tap_menu ul li:not(:last-child){
    border-right: 0;
}
.tap_menu ul li.on{
    background-color: #271514;
    color: #fff;
}

.page{
    display: none;
}
.page.view{
    display: block;
}
form{
    margin-top: 50px;
    padding: 0px 200px;
}
form table{
    width: 100%;
}
form table tbody{}
form table tbody tr{}
form table tbody tr td{
    border: 1px solid #bbb;
    padding: 10px 15px;
    text-align: center;
}
form table tbody tr td label{
    margin-bottom: 0px;
    color: #000;
    font-size: 16px;
    white-space: nowrap;
}
form table tbody tr td input{
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 30px;
    line-height: 30px;
    padding: 0px 15px;
}
form table tbody tr td.ck_box{
    text-align: left;
}
form table tbody tr td.ck_box span:nth-child(2){
    margin-left: 10px;
}
form table tbody tr td input[type='radio']{
    width: inherit;
    margin: 0 0;
}
form table tbody tr td input[type='radio']:not(:first-child){
    margin-left: 10px;
}
form table tbody tr td textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 15px;
}

form .submit{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    line-height: 40px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #271514;
    background-color: #fff;
    border: 2px solid #271514;
}

@media (max-width: 1200px){
    .tap_menu,
    form{
        padding: 0px 100px;
    }
}
@media (max-width: 900px){
    .tap_menu ul li{
        font-size: 14px;
    }
    .tap_menu,
    form{
        padding: 0px 0px;
    }
}
@media (max-width: 600px){
    .tap_menu ul li{
        font-size: 12px;
    }
    form table tbody tr td{
        padding: 10px 7px;
    }
    form table tbody tr td.ck_box span{
        display: block;
    }
    form table tbody tr td.ck_box span:nth-child(2){
        margin-top: 5px;
        margin-left: 0px;
    }
    form table tbody tr td textarea{
        height: 100px;
    }
    
}
@media (max-width: 499px){
    .tap_menu ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .tap_menu ul li:first-child{
        border-right: 0;
    }
    .tap_menu ul li:nth-child(3){
        border-right: 1px solid #ddd;
    }
    .tap_menu ul li:nth-child(4),
    .tap_menu ul li:nth-child(5){
        border-top: 0;
    }
}










