
.wrap{
    width: 1200px;
    margin: 0px auto;
}
.pc_img{}
.mo_img{
    display: none;
}

.swiper-container-vertical > .swiper-pagination-bullets.main_slide{
    right: inherit;
}
@media (max-width: 1200px){
    .wrap{
        width: 100%;
        padding: 0px 15px;
    }
    .swiper-container-vertical > .swiper-pagination-bullets{
        left: 10px !important
    }
}
@media (max-width: 600px){
    .pc_img{
        display: none;
    }
    .mo_img{
        display: block;
    }
}

/*swiper 버튼 초기화*/
.mouse.swiper-button-next{
    background-image: none;
    background-color: inherit; 
    margin-right: inherit; 
    padding: inherit; 
    transition: inherit;
    margin-top: inherit; 
    z-index: 10; 
    top: inherit;
    cursor: pointer;
    height: auto;
    margin-top: inherit;
    background-size: inherit; 
    background-position: inherit; 
    background-repeat: inherit;
}

/*sns*/
.sns{
    position: fixed;
    top: 50%;
    right: 3%;
    z-index: 9;
    transform: translateY(-50%);
}
.sns a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    margin: 20px 0px;
}
.sns a img{
    margin-bottom: 5px;
    width: inherit;
}
.sns a .name{
    color: #fff;
}
.subpage.sns a .name{
    color: #a89e9f;
}
@media (max-width: 600px){
    .sns{
        top: inherit;
        bottom: 0px;
        left: 50%;
        right: inherit;
        transform: translateX(-50%);
        width: 100%;
        background-color: #271514;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .sns a .name{
        display: none;
    }
}

.slider .t0 .wrap > div{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.slider .t0 .wrap > div > div{
    color: #fff;
}

.slider .t0 .wrap > div > div:first-child{
    font-size: 30px;
    font-weight: 300;
}

.slider .t0 .wrap > div > div:first-child span{
    color: #000;
    font-size: 30px;
    background-color: #fff;
    padding: 0px 5px;
    font-weight: bold;
}

.slider .t0 .wrap > div > div:last-child span{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
}

.slider .t0 .wrap > div > div:last-child{
    margin-top: 20px;
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width:1200px){
    .slider .t0 .wrap > div{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        text-align: center;
    }
    
    .slider .t0 .wrap > div > div:first-child{
        font-size: 24px;
    }
    .slider .t0 .wrap > div > div:first-child span{
        font-size: 24px;
    }
    
    .slider .t0 .wrap > div > div:last-child span{
        font-size: 35px;
    }

    .slider .t0 .wrap > div > div:last-child{
        font-size: 35px;
    }
}

@media (max-width:600px){
    .slider .t0 .wrap > div > div:first-child{
        font-size: 18px;
    }
    .slider .t0 .wrap > div > div:first-child span{
        font-size: 18px;
    }
    
    .slider .t0 .wrap > div > div:last-child span{
        font-size: 24px;
    }

    .slider .t0 .wrap > div > div:last-child{
        font-size: 24px;
    }
}

@media (max-width:330px){
    .slider .t0 .wrap > div > div:first-child{
        font-size: 16px;
    }
    .slider .t0 .wrap > div > div:first-child span{
        font-size: 16px;
    }
    
    .slider .t0 .wrap > div > div:last-child span{
        font-size: 20px;
    }

    .slider .t0 .wrap > div > div:last-child{
        font-size: 20px;
    }
}

/*slide 01*/
.slider{
    width: 100%;
    height: 100vh;
}
.slider .slide{}
.slider .slide.main > img{
    width: 100%;
}
.slider .slide img{
    height: 100%;
}
.slider .slide .img{
    position: absolute;
    top: 54%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.slider .slide .text_box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 1rem 2rem 0;
}
.slider .slide .text_box .title_box{
    position: relative;
}
.slider .slide .text_box .title_box .title{
    color: #000;
    font-size: 40px;
    white-space: nowrap;
 	position: absolute;
    top: -70px;
    background-color: #fff;
    padding: 0 2rem;
}
.slider .slide .text_box .title_box .title span{
    font-size: 20px;
    white-space: nowrap;
}
.slider .slide .text_box .title_box .sub{
    color: #fff;
    font-size: 19px;
    white-space: nowrap;
    font-weight: 600;
}
.slider .slide .text_box .title_box .sub .br{
    display: none;
}
.slider .slide .text_box .text{
    margin-top: 15px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}
.slider .slide .mouse{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.slider .slide .mouse img{
    width: 60px;
    height: 79px;
}



@media (max-width: 1200px){
    .slider .slide .img{
        top: 28%;
        left: 50%;
    }
    .slider .slide .img img{
        width: 300px;
    }
    .slider .slide .text_box{
        top: 64%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .slider .slide .text_box .title_box .title{
        left: 50%;
        transform: translateX(-50%);
    }
} 

@media (max-width: 800px){
    .slider .slide img{
        width: auto;
    }
}
@media (max-width: 600px){
    .slider .slide .text_box .title_box .sub .br{
        display: block;
    }
    .slider .slide .mouse{
        display: none;
    }
}
@media (max-width: 499px){
    .slider .slide .img img{
        width: 220px;
    }
    .slider .slide .text_box{
        top: 68%;
    }
    .slider .slide .text_box .title_box .title{
        font-size: 30px;
        top: -55px;
    }
    .slider .slide .text_box .title_box .sub{
        font-size: 16px;
    }
    .slider .slide .text_box .text{
        font-size: 14px;
    }
}
/*slide02*/
.slider .slide .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.slider .slide .center .title_box{
    text-align: center;
    margin-bottom: 50px;
}
.slider .slide .center .title_box .title{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.slider .slide .center .title_box .bar{
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}
.slider .slide .center ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}
.slider .slide .center ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider .slide .center ul li img{}
.slider .slide .center ul li .title{
    color: #fff;
    font-size: 24px;
    margin: 10px 0px;
}
.slider .slide .center ul li .more{
    color: #fff;
    font-size: 18px;
    padding: 3px 10px;
    border: 1px solid #fff;
}
@media (max-width: 800px){
    .slider .slide .center ul li img{
        width: 100%;
    }
}

/*slide03*/
.slider .slide .book{
    width: 100%;
    height: 588px;
    background-position: center;
    background-size: 104%;
    background-repeat: no-repeat;
    background-image: url(../img/new_img/main/book.png);
}
.slider .slide .center .title_box.s3{
    position: relative;
    top: 80px;
    margin-bottom: 0px;
    z-index: 99;
}
.slider .slide .center .title_box.s3 .title{
    color: #3f2c28;
}
.slider .slide .center .title_box.s3 .bar{
    background-color: #3f2c28;
}
.slider .slide .book .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}
.slider .slide .book .slide a{}
.slider .slide .book .slide a img{
    width: 100%;
}

/*slide04*/

.slider .slide .last_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.slider .slide .last_center .content .title{
    text-align: center;
    font-size: 40px;
    color: #fff;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider .slide .last_center .content .title .bar{
    width: 50px;
    height: 2px;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
}

.slider .slide .last_center .content ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.slider .slide .last_center .content ul li:nth-child(1) > div{
    font-size: 22px;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

.slider .slide .last_center .content ul li > div:not(:nth-child(4)){
    margin-bottom: 20px;
}

.slider .slide .last_center .content ul li > div img{
    margin-right: 30px;
}

.slider .slide .last_center .content ul li > div > div{
    color: #fff;
}

.slider .slide .last_center .content ul li > div:nth-child(3) > div span{
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    margin-top: 5px;
}

.slider .slide .last_center .content ul li:nth-child(2){
    width: 100%;
    background-color: #1d2a48;
    border-radius: 70px 0px 70px 0px;
    
}

.slider .slide .last_center .content ul li:nth-child(2) > a{
    font-size: 30px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    padding: 50px 0px;
}

.slider .slide .last_center .content ul li:nth-child(2) > a > div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #fff;
}

.slider .slide .last_center .content ul li:nth-child(2) > a > div > img{
    margin-left: 15px;
}

.slider .slide .last_center .content ul li:nth-child(2) > a > span{
    font-size: 20px;
    color: #fff;
}

.slider .slide .last_center .wrap > ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}
.slider .slide .last_center .wrap > ul li{
    position: relative;
    padding: 0px 30px;
}
.slider .slide .last_center .wrap > ul li:first-child::after{
    content: "";
    width: 1px;
    height: 150%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(10deg);
}
.slider .slide .last_center .wrap > ul li .title{
    font-size: 40px;
    color: #fff;
}
.slider .slide .last_center .wrap > ul li .title img{}
.slider .slide .last_center .wrap > ul li .num{
    font-size: 30px;
    color: #fff;
    margin: 20px 0px;
}
.slider .slide .last_center .wrap > ul li .num img{
    margin-right: 15px;
}
.slider .slide .last_center .wrap > ul li .text{
    color: #fff;
    font-size: 18px;
}
.slider .slide .last_center .contact_link{
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  background-color: #ffffff33;
  padding: 4rem 7rem;
  align-items: center;
  margin-top: 6rem;
}
.slider .slide .last_center .contact_link .text{
  margin: 0 1rem;
}
.slider .slide .last_center .contact_link .text .top{
  font-size: 28px;  
  color: #fff;
}.slider .slide .last_center .contact_link .text .bt{
  font-size: 18px;  
  color: #fff;
}

@media (max-width: 1200px){
    
    .slider .slide .last_center .youtube .title{
        text-align: center;
    }
    
}
@media (max-width: 1000px){
    .slider .slide .last_center .wrap > ul li .title{
        font-size: 32px;
    }
    .slider .slide .center .title_box.s3{
        top: 100px;
    }
    
}
@media (max-width: 800px){
    
    .slider .slide .last_center .wrap > ul li .num img{
        display: none;
    }
    .slider .slide .last_center .wrap > ul li:first-child::after{
        display: none;
    }
    .slider .slide .last_center .wrap > ul li{
        padding: 0px 0px;
    }
}
@media (max-width: 700px){
    .slider .slide .last_center .wrap > ul{
        grid-gap: 10px;
    }
    .slider .slide .last_center .wrap > ul li .title{
        font-size: 28px;
    }
    .slider .slide .last_center .wrap > ul li .text{
        font-size: 14px;
    }
  .slider .slide .last_center .contact_link{
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
  }
  .slider .slide .last_center .contact_link .text{
    text-align: center;
    margin: 1rem 0;
  }
}
@media (max-width: 650px){
    .slider .slide .last_center .content ul{
        display: block;
    }
    
    .slider .slide .last_center .content ul li:nth-child(1) > div:not(:nth-child(2)){
        display: none;
    }
    
    
    .slider .slide .last_center .content ul li:nth-child(1){
        display: block;
        width: 100%;
    }
    
    .slider .slide .last_center .content ul li:nth-child(1) > div{
        justify-content: center;
    }
    
    .slider .slide .last_center .content ul li:nth-child(2){
        background-color: #1d2a48cc;
    }
    
    .slider .slide .last_center .content ul li:nth-child(2) > a{
        padding: 70px 0px;
    }
}

@media (max-width: 600px){
    .slider .slide .center .title_box.s3 .title{
        color: #fff;
    }
    .slider .slide .center .title_box.s3 .bar{
        background-color: #fff;
    }
    .slider .slide .last_center .wrap > ul li .title{
        font-size: 24px;
    }
    .slider .slide .last_center .wrap > ul li .title img{
        width: 30px;
    }
}
@media (max-width: 499px){
    
    .slider .slide .center .title_box .title{
        font-size: 30px;
    }
    .slider .slide .center ul li .more{
        font-size: 14px;
    }
    .slider .slide .book{
        background-image: none;
    }
    .slider .slide .last_center .wrap > ul li .title{
        font-size: 18px;
    }
    .slider .slide .last_center .wrap > ul li .title img{
        width: 20px;
    }
    .slider .slide .last_center .wrap > ul li .num{
        font-size: 18px;
        margin: 5px 0px;
    }
    .slider .slide .last_center .wrap > ul li .text br{
        display: none;
    }
}

@media (max-width: 350px){
    .slider .slide .last_center .content ul li:nth-child(2) > a{
        font-size: 24px;
    }
    
    .slider .slide .last_center .content ul li:nth-child(2) > a > span{
        font-size: 16px;
    }
}
/*footer*/
.footer{
    padding: 70px 0px 70px;
}
.footer > .wrap{
    display: flex;
    flex-direction: row;
}
.footer #f_logo{}
.footer #f_logo img{
    width: inherit;
}
.footer .text{
    flex: 1;
    text-align: center;
}
.footer .text > div{
    color:#fff;
}
.footer .text > div br{
    display: none;
}
.footer .text > div span{
    display: inline;
}
.footer .text > div .br{
    display: none;
}

@media (max-width: 1000px){
    .footer #f_logo{
        display: inline-block;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer > .wrap{
        flex-direction: column;
    }
    .footer .text > div span{
        display: none;
    }
    .footer .text > div br{
        display: block;
    }
}
@media (max-width: 499px){
    .footer .text > div .br{
        display: block;
    }
}









