@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css); 로딩속도체크*/
/*
@import url('https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet');
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
*/
@font-face {
    font-family: 'NotoSans'; 
    font-style: normal;
    font-weight: 300;
    src: url(../../wzd_lib/font/notokr-light.eot);
    src: url(../../wzd_lib/font/notokr-light.eot?#iefix) format('embedded-opentype'), url(../../wzd_lib/font/notokr-light.woff) format('woff'), url(../../wzd_lib/font/notokr-light.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: url(../../wzd_lib/font/notokr-regular.eot); 
    src: url(../../wzd_lib/font/notokr-regular.eot?#iefix) format('embedded-opentype'), url(../../wzd_lib/font/notokr-regular.woff) format('woff'), url(../../wzd_lib/font/notokr-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url(../../wzd_lib/font/notokr-medium.eot);
    src: url(../../wzd_lib/font/notokr-medium.eot?#iefix) format('embedded-opentype'), url(../../wzd_lib/font/notokr-medium.woff) format('woff'), url(../../wzd_lib/font/notokr-medium.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: url(../../wzd_lib/font/notokr-bold.eot);
    src: url(../../wzd_lib/font/notokr-bold.eot?#iefix) format('embedded-opentype'), url(../../wzd_lib/font/notokr-bold.woff) format('woff'), url(../../wzd_lib/font/notokr-bold.ttf) format('truetype');
}


/* 예시 
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Nanum Gothic';  400,700,800
font-family: 'Roboto', sans-serif;
@font-face {
 font-family: 'NanumSquare';
font-family: 'Lato', 'Noto Sans KR', Tahoma, Geneva, sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Nanum Myeongjo';
font-family: 'Nanum Barun Gothic', sans-serif;

*/


html, body {
	font-size:18px; color:#474747; font-family:'NotoSans', '맑은 고딕',  'Nanum Gothic', 'Malgun Gothic', '돋움', 'Ubuntu', dotum, sans-serif; 
}
body a, body .btn {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover, body .btn {  transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;}
 
.soft {transition:0.5s all;
 -webkit-transition:0.5s all;
 -moz-transition:0.5s all;
 -o-transition:0.5s all;
 -ms-transition:0.5s all;}


div, li, ul, p, dl, dt, dd, h1, h2, h3, h4, h5, h6 {font-family:'NotoSans', '맑은 고딕',  'Nanum Gothic', 'Malgun Gothic', '돋움', 'Ubuntu', dotum, sans-serif; color: #474747; }

@media (max-width: 992px) {
    div, li, ul, p, dl, dt, dd, h1, h2, h3, h4, h5, h6 {font-family:'NotoSans', '맑은 고딕',  'Nanum Gothic', 'Malgun Gothic', '돋움', 'Ubuntu', dotum, sans-serif; color: #474747; }

}
