/* ceo인사말 */

section.company_01, 
section.company_02,
section.company_03,
section.company_04,
section.company_05 {
    font-family: 'NotoSans', sans-serif, Helvetica;
    font-size: 18px; line-height: 32px; list-style: none;
}

section h3.section_title_01 {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
    line-height: 32px;
}

section.company_01 p.subj {
    font-size: 33px;
    font-weight: 900;
    line-height: 44px;
    margin-bottom: 30px;
    color: #000;
}

section.company_01 p.subj span {
    font-size: 33px;
    font-weight: 300;
    text-align: center;
}

section.company_01 .ceo img {
    float: right;
}

section.company_01 .ceo .message {
    float: right;
    padding-top: 18px;
    font-size: 17px;
}

section.company_01 .ceo .message span {
    font-weight: 900;
    font-family: 'NanumSquare;

}


/* 회사소개 */
section.company_02 .company_img01 {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.company_02 .box1 {
    display: table;
    width: 100%;
    height: 47vh;
}

section.company_02 .box2 {
    display: table;
    height: 100%;
    width: 100%;
}

section.company_02 .box3 {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 14vh;

}

section.company_02 .box3 dl {
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    padding-top: 18px;
}

section.company_02 .box3 dl dt {
    font-size: 48px;
    color: #000;
    text-transform: capitalize;

}

section.company_02 .box3 dl dd {
    font-size: 14px;

}

section.company_02 .title-wrap {
    border-bottom: 1px #eee solid;
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
    /*    margin-bottom: 50px;*/
}

section.company_02 .title-wrap h2 {
    font-weight: 600;
}



/* 연혁 */
section.company_03 #tab_wrap .nav-tabs {
    border-bottom: 0;
}

section.company_03 #tab_wrap .nav-tabs > li > a {
    margin: 0;

}

section.company_03 #tab_wrap .nav-tabs > li > a,
section.company_03 #tab_wrap .nav-tabs > li > a:focus,
section.company_03 #tab_wrap .nav-tabs > li > a:hover {
    color: #fff;

    border-left: 1px #cfcfcf solid;
}

section.company_03 #tab_wrap .nav-tabs > li > a {
    border: none;
    color: #666;
    background: #f8f8f8;
    /*            font-size: 13px;*/
    font-weight: 600;
    border-top: 1px #dedede solid;
    border-bottom: 1px #999999 solid;
    border-left: 1px #dedede solid;
    /*    border-top: 1px #999999 solid;*/
    border-radius: 0;
    line-height: 38px;
    font-size: 16px;
    /*        transition: 1s;*/
}

section.company_03 #tab_wrap .nav-tabs > li:first-child > a {
    /*        border-left: 1px #999999 solid;*/
}


section.company_03 #tab_wrap .nav-tabs > li:last-child > a {}

section.company_03 #tab_wrap .nav-tabs > li > a > span {
    color: #000;
}

section.company_03 #tab_wrap .nav-tabs > li > a:hover,
section.company_03 #tab_wrap .nav-tabs > li > a#bo_cate_on,
section.company_03 #tab_wrap .nav-tabs > li > a:focus {
    color: #efefef;
    background: #fff;
    color: #000;
    border-top: 1px #cfcfcf solid;
    border-bottom: 1px #fff solid;
    border-left: 1px #cfcfcf solid;

}

section.company_03 #tab_wrap .nav-tabs > li > a#bo_cate_on {
    background-color: #fff;
    border-top: 2px #000 solid;
    font-weight: 900;
}

section.company_03 #tab_wrap .nav-tabs > li:first-child > a:hover,
section.company_03 #tab_wrap .nav-tabs > li:first-child > a:focus {
    border-left: 0;
}



section.company_03 #tab_wrap .nav-tabs.two > li {
    width: 50%;
    text-align: center;
}

section.company_03 #tab_wrap .nav-tabs.three > li {
    width: 33.333333333333333%;
    text-align: center;
}

section.company_03 #tab_wrap .nav-tabs.four > li {
    width: 25%;
    text-align: center;
}

section.company_03 .tab-pane {
    padding: 15px 0;
}

section.company_03 .tab-content {
    padding: 20px
}



section.company_03 #tab_wrap {
    /*        border: 0 !important;*/
    border-left: 1px #dedede solid;
    border-right: 1px #dedede solid;
    border-top: 0;
    border-bottom: 0;
    margin-bottom: 80px;
}

section.company_03 dt {
    width: auto;
    margin-bottom: 10px;
}

section.company_03 dd {
    padding-left: 20px;
    border-left: 3px #eee solid
}

section.company_03 dt:after {
    /*    content: " / "*/
}

section.company_03 .history-left {
    text-align: left;
}

section.company_03 .history-left h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #000;
    margin-top: 0;
    float: left;

}

section.company_03 .history-left span {
    padding-left: 20px;
    line-height: 48px;

    font-weight: 300;
    font-size: 26px;
    color: #474747;
}

section.company_03 .history-left p.text {
    color: #474747;
    font-size: 16px;
    line-height: 24px;
}

section.company_03 .history-left p.image {
    margin-top: 30px;
}

section.company_03 .history-right {
    background: url("../../img/sub/dot_back.png") 9px 0% repeat-y;
    margin-top: 10px;
    margin-left: 80px;
}

section.company_03 .history-right ul {
    background: url(../../img/sub/dot.png) 0 2% no-repeat;
    margin-bottom: 35px;
    border-bottom: 0;
}

section.company_03 .history-right li {}

section.company_03 .history-right li.title {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding-bottom: 12px;
}

section.company_03 .history-right li span.mon {
    font-weight: 600;
    color: #000000;
    content: "-";
    font-size: 12px;
    background-color: #fff;
    border: 1px #f3f3f3 solid;
    margin-right: 7px;
}

section.company_03 .history-right li span.mon:after {
    /*    content: " . ";*/
}

section.company_03 .history-right li span.mon2 {
    font-weight: 400;
    color: #2B4471;
    content: "-";
    font-size: 12px;
}

section.company_03 .history-right li span.mon2:after {
    content: " ";
}

section.company_03 .history-right ul.list-unstyled {
    border-bottom: 0 !important;
    padding-left: 40px;
}


/* 찾아오시는 길 */

section.company_04 .embed-container {
    position: relative;
    padding-bottom: 40%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

section.company_04 .embed-container iframe,
section.company_04 .embed-container object,
section.company_04 .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .table_wrap .table {
    border-top: 2px #000 solid;
    border-bottom: 1px #ddd solid;
}

section .table_wrap caption {
    font-weight: 900;
    color: #000;
    font-size: 18px;
    /*    padding-top: 15px*/
}

section .table_wrap .table th {
    width: 120px;
    padding-left: 18px;
    font-weight: 900;
}

section .table_wrap .table th,
section .table_wrap .table td {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
}

section.company_04 dl {
    padding-bottom: 0;
    margin-bottom: 15px;
}

section.company_04 dl dt {
    padding-top: 10px;
}

section.company_04 dl dd {
    padding-left: 20px;
}

section.company_04 .d-map {
    padding: 0 8px;
    background: #2c77dd;
    color: #fff;
    font-size: 11px;
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    border-radius: 2em;
}
section.company_04 .btn{
    font-size: 15px;
    border-radius: 0;
    border:1px #000 solid;
    color: #000;
    font-weight: 600;
}
/* 레이어 팝업 */
.overlay-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 9999999999999999999999999999999999999999999999999999;
}

.overlay-popup:target {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    margin: 70px auto;
    background: #fff;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    padding-bottom: 10px;
}

.popup-content h2 {
    background: linear-gradient(#44474e, #35383f);
    margin-top: 0;
    color: #fff;
    font-family: 'NotoSans';
    font-size: 18px;
    line-height: 52px;
    padding-left: 20px;
    font-weight: 600;
    padding-top: 5px;
}

.popup-content .close {
    position: absolute;
    top: 15px;
/*    border: 1px #fff solid;*/
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff !important;
    opacity: 1;
    text-shadow: none;
    line-height: 0;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.popup-content .close:hover {
    color: #06D85F;
}

.popup-content .content {
    /*  max-height: 30%;*/
    height: 420px;
    padding: 25px 20px;
    font-size: 13px;
    overflow-y: auto;
}

.popup-content .content p,
.popup-content .content span {
    font-size: 13px;
}

.popup_text_point {
    font-size: 16px;
    font-weight: 600;
    font-weight: 600;
    padding-bottom: 12px;
}
@media (max-width: 992px) {
    section.company_01 {
        text-align: center;
    }

    section h3.section_title_01 {
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 60px;
        line-height: 26px;
    }

    section.company_01 p.subj {
        font-size: 26px;
        font-weight: 900;
        line-height: 42px;
        margin-bottom: 30px;
        color: #000;
    }

    section.company_01 p.subj span {
        font-size: 26px;
        font-weight: 300;
        text-align: center;
    }

    section.company_01 .ceo {
        margin-top: 30px;
        margin-bottom: 50px;
        text-align: center;
    }

    section.company_01 .ceo img {
        float: none;
        text-align: center;
        width: 100%;
    }

    section.company_01 .ceo .message {
        float: right;
        padding-top: 18px;
        font-size: 14px;
    }

    section.company_01 .ceo .message span {
        font-weight: 900;
        font-family: 'NanumSquare;

    }

    section.company_02 .company_img01 {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    section.company_02 .box1 {
        display: table;
        width: 100%;
        height: 47vh;
    }

    section.company_02 .box2 {
        display: table;
        height: 100%;
        width: 100%;
    }

    section.company_02 .box3 {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        padding-left: 6vh;
        padding-right: 6vh;

    }

    section.company_02 .box3 dl {
        font-family: 'Ubuntu', sans-serif;
        width: 100%;
        padding-top: 18px;
    }

    section.company_02 .box3 dl dt {
        font-size: 32px;
        color: #000;
        text-transform: capitalize;

    }

    section.company_02 .box3 dl dd {
        font-size: 14px;

    }

    /*     연혁 */

    section.company_03 #tab_wrap .nav-tabs > li > a {
        border: none;
        color: #666;
        background: #f8f8f8;
        font-weight: 600;
        border-top: 1px #dedede solid;
        border-bottom: 1px #999999 solid;
        border-left: 1px #dedede solid;
        border-radius: 0;
        line-height: 24px;
        font-size: 14px;
    }

    section.company_03 #tab_wrap {

        margin-bottom: 50px;
    }

    section.company_03 .history-left h2 {
        font-size: 26px;
        margin-bottom: 10px;
        font-weight: 900;
        color: #000;
        margin-top: 0;
        float: left;

    }

    section.company_03 .history-left span {
        padding-left: 14px;
        line-height: 32px;

        font-weight: 300;
        font-size: 18px;
        color: #474747;
    }

    section.company_03 .history-left p.text {
        color: #474747;
        font-size: 14px;
        line-height: 22px;
    }

    section.company_03 .history-left p.image {
        margin-top: 30px;

    }

    section.company_03 .history-left p.image img {
        width: 100%;
    }

    section.company_03 .history-right {
        background: url("../../img/sub/dot_back.png") 9px 0% repeat-y;
        margin-top: 10px;
        margin-left: 0px;
    }

    section.company_03 .history-left {
        margin-bottom: 40px;
    }

    section.company_03 .history-right li.title {
        font-size: 20px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
        color: #000;
        padding-bottom: 6px;
    }
    .popup-content {
        width: 70%;
    }


}



 
}