.container > img{
    user-select: none;
    width: 100%;
/*    pointer-events: none;*/
}
.mo_img{
    display: none;
}
.title_box{
    display: block;
    text-align: center;
    margin: 40px 0px;
}
.title_box .title{
    font-size: 28px;
    font-weight: bold;
    color: #000;
}
.title_box .bar{
    width: 100px;
    height: 2px;
    background-color: #62353a;
    display: inline-block;
}
.button{
    text-align: center;
    margin-top: 30px;
}
.button a{
    width: 100%;
    position: relative;
}
.button img{
    display: inline-block;
}
.button .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    white-space: nowrap;
}
@media only screen and (min-width:100px) and (max-width:1000px){
    
    .button img{
        width: 100%;
        height: 180px;
    }
}

@media only screen and (min-width:100px) and (max-width:800px){
    .pc_img{
        display: none;
    }
    .mo_img{
        display: block;
    }
    .title_box{
        display: none;
    }
}
@media only screen and (min-width:100px) and (max-width:600px){
   
    .button img{
        width: 100%;
        height: 150px;
    }
    .button .text{
        font-size: 30px;
    }
}

@media only screen and (min-width:100px) and (max-width:499px){
/*
    .title_box{
        margin-top: 20px !important;
    }
*/
    .title_box .title{
        font-size: 20px;
        line-height: 7px;
    }
    .button img{
        width: 100%;
        height: 100px;
    }
    .button .text{
        font-size: 20px;
    }
}





























