#map{
    width: 100%;
    height: 580px;
    background-color: #eee;
}
.location{
    padding: 10px 0px;
}
.location .left{
    font-size: 18px;
    font-weight: 600;
    color: #613539;
    display: inline-block;
}
.location .left br{
    display: none;
}
.location .right{
    display: inline-block;
    float: right;
}
.location .right ul{}
.location .right ul li{
    display: inline-block;
}
.location .right ul li span{
    font-size: 18px;
    font-weight: 600;
    color: #613539;
}
.location .right ul li .icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #613539;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #fff;
}
.location .right ul li .tel{}

.img{
    margin: 50px 0px;
}
.img ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}
.img ul li{}
.img ul li span{}
.img ul li img{
    width: 100%;
    height: 300px;
}
@media only screen and (min-width:100px) and (max-width:900px){
    .location{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media only screen and (min-width:100px) and (max-width:700px){
    #map{
        height: 300px;
    }
    .location .left{
        font-size: 14px;
    }
    .location .right ul li span{
        font-size: 14px;
    }
    .location .right ul li .icon{
        width: 20px;
        height: 20px;
        line-height: 20px;
    }
    .location .right ul li span{
        font-size: 14px;
    }
    .location .left br{
        display: block;
    }
}